<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jesse.magicbox">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".view.activity.MagicBoxActivity" />

        <activity android:name=".view.activity.MagicBoxDeviceInfoActivity" />

        <activity android:name=".view.activity.MagicBoxAppInfoActivity" />

        <activity android:name=".view.activity.MagicBoxFileExplorerActivity" />
    </application>

</manifest>